<header class="header">
    <div class="header-container">
        <div class="header-media-container">
            {{ partial "feature" . }}
        </div>
    </div>

    <nav class="navbar is-transparent is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <p class="navbar-item" href="#">
                    &#328; {{ .Site.Title }}
                </p>

                <a role="button" class="navbar-burger" href="#" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    {{ range .Site.Menus.main }}
                        {{ if $.IsMenuCurrent "main" . }}
                            <span class="navbar-item">
                                {{ .Name }}
                            </span>
                        {{ else }}
                            {{ with .Page }}
                                <a class="navbar-item" href="{{ .RelPermalink }}" title="{{ .Name }}">
                                    {{ .Name }}
                                </a>
                            {{ else }}
                                <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }}">
                                    {{ .Name }}
                                </a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>

                <div class="navbar-end">
                    {{ if .IsTranslated }}
                        {{ range .Translations.ByWeight.Reverse }}
                            <a class="navbar-item" href="{{ .RelPermalink }}" title="{{ .Title }}">
                                {{ .Language.LanguageName }}
                            </a>
                        {{ end }}
                    {{ end }}
                    <div class="navbar-item is-social-media">
                        {{ with .Site.Params.GitHub }}
                            <div class="navbar-item">
                                <a class="icon is-github" href="{{ . }}" rel="external noopener">
                                    {{ partial "svg/github.svg" (dict "size" 24) }}
                                </a>
                            </div>
                        {{ end }}
                        {{ with .Site.Params.Twitter }}
                            <div class="navbar-item">
                                <a class="icon is-twitter" href="{{ . }}" rel="external noopener">
                                    {{ partial "svg/twitter.svg" (dict "size" 24) }}
                                </a>
                            </div>
                        {{ end }}
                        {{ with .Site.Params.Facebook }}
                            <div class="navbar-item">
                                <a class="icon is-facebook" href="{{ . }}" rel="external noopener">
                                    {{ partial "svg/facebook.svg" (dict "size" 24) }}
                                </a>
                            </div>
                        {{ end }}
                        {{ with .Site.Params.LinkedIn }}
                            <div class="navbar-item">
                                <a class="icon is-linkedin" href="{{ . }}" rel="external noopener">
                                    {{ partial "svg/linkedin.svg" (dict "size" 24) }}
                                </a>
                            </div>
                        {{ end }}
                        <div class="navbar-item">
                            <a class="icon is-rss" href="{{ .Site.RSSLink }}">
                                {{ partial "svg/rss.svg" (dict "size" 24) }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ if .IsPage }}
            <progress class="progress is-primary is-small" min="0" max="100" value="0"></progress>
        {{ end }}
    </nav>
</header>
