<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
{{ if and (eq .Type "post") (ne .Params.comments false) }}
    {{ with .Site.DisqusShortname }}
        <script src="//{{ . }}.disqus.com/embed.js" async></script>
    {{ end }}
{{ end }}
{{ with .Site.GoogleAnalytics }}
    <script src="//www.googletagmanager.com/gtag/js?id={{ . }}" async></script>
{{ end }}

<script>
    {{ with .Site.GoogleAnalytics }}
        window.dataLayer = window.dataLayer || []
        function gtag() { dataLayer.push(arguments) }
        gtag('js', new Date())
        gtag('config', '{{ . }}')
    {{ end }}

    {{ if and (eq .Type "post") (ne .Params.comments false) .Site.DisqusShortname }}
        var disqus_config = function () {
            this.language = '{{ .Site.Params.disquslanguagecode }}'
            this.page.title = '{{ .Title }}'
            this.page.url = '{{ .Permalink | html }}'

            {{ with .GetParam "disqus_identifier" }}
                this.page.identifier = '{{ . }}'
            {{ end }}
        }
    {{ end }}
</script>
